#header{
  color: yellow;
  margin: 0px;
  padding: 10px;
  font-size: 40px;
  font-weight: 800;
  background-color: #0095ff;
  text-align:center;
}

body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    background: #ffffff;
}


.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-margin-top {
    margin-top: 80;
}

.row{
margin-top:10px;
}

.box {
  float: left;
}


.col-md-4{
  width: 20%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
}

.col-md-8{
  width:75%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: -170px;
}


.content-margin-top {
  margin-top: 60px;
}

.content-margin-top2 {
  margin-top: 50px;
  font-size: 50px;
}


hr{

}

.msg{
  padding: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
}

.msg p {
  margin-top: 0;
  margin-bottom: 0;
}

.msg .day,
.msg .day a {
  margin-top:30;
  font-size: 30%;
  color: #999;
}

#footer {
    color: white;
    margin-top: 30px;
    padding-bottom: 30px;
    bottom: 0px;
    font-size: 15px;
    background-color: rgb(0, 149, 255);
    text-align: center;
}

